@font-face {
  font-family: DankMono;
  src: url("../../static/font/Dank\ Mono\ Regular.otf") format("opentype");
}

@font-face {
  font-family: DankMono;
  font-style: italic;
  src: url("../../static/font/Dank\ Mono\ Italic.otf") format("opentype");
}

* {
  font-family: DankMono, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: DankMono, sans-serif;
  text-transform: capitalize;
}
