/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #3533a3;
  --ifm-color-primary-dark: #302e93;
  --ifm-color-primary-darker: #2d2b8b;
  --ifm-color-primary-darkest: #252472;
  --ifm-color-primary-light: #3a38b3;
  --ifm-color-primary-lighter: #3d3bbb;
  --ifm-color-primary-lightest: #514ec8;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #acabd3;
  --ifm-color-primary-dark: #9392c6;
  --ifm-color-primary-darker: #8785bf;
  --ifm-color-primary-darkest: #6260ac;
  --ifm-color-primary-light: #c5c4e0;
  --ifm-color-primary-lighter: #d1d1e7;
  --ifm-color-primary-lightest: #f6f6fa;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
